#about {
   --padding-page: 2rem 4rem;
   padding-block: var(--padding-page);
   grid-template-columns: 1fr 1fr;
   box-shadow: var(--box-shadow-default);

   & h2 {
      font-size: var(--fs-base);
      text-align: center;
   }

   & #about-desc {
      font: var(--fw-bold) var(--fs-sm) 'Archivo';
   }

   & div:nth-child(1) {
      margin-inline: 2rem;
      & .box {
         display: grid;
         align-items: center;
         justify-items: center;
         & img[class='mobile-only'] {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
         }
         & ul {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: 100%;
            align-items: center;
            & li {
               width: 100%;
               padding: 2rem;
               & .box {
                  margin: auto;
                  display: flex;
                  width: 60vw;
                  
                  & figure {
                     background-color: var(--brand-color);
                     border-radius: 10px 0px 0px 10px;
                     display: flex;
                     flex-direction: column;
                     width: 100px;
                     justify-content: center;
                     align-items: center;
                     border: solid var(--brand-color);
                     & img {
                        padding: 0.5rem;
                        width: 64px;
                     }
                     & figcaption {
                        color: #FFFFFF;
                        font-weight: 800;
                        text-align: center;
                        padding-bottom: 20px;
                        font-size: 0.75rem;
                     }
                  }
                  & p {
                     align-self: center;
                     padding: 0.5rem;
                     font-size: 0.75rem;
                     width: 80%;
                     max-width: 80%;
                     white-space: normal;
                     overflow-wrap: break-word;
                     word-break: break-word;
                  }
               }
            }
         }
      }
   }

   @media (width >= 80em) {
      --padding-page: 0rem 0rem;
      & div:nth-child(1) {
         grid-column: 1/2;
         margin-inline: 2rem 0;
         & h2 {
            padding-block: 2rem;
            text-align: center;
            vertical-align: sub;
            width: 580px;
            height: 43px;
            font-size: var(--fs-md);
         }

         & #about-desc {
            width: 580px;
            font: var(--fw-bold) var(--fs-base) 'Archivo';
         }

         & .box {
            width: 632px;

            & ul {
               display: flex;
               flex-direction: column;
               width: 100%;
               height: 100%;
               align-items: center;
               & li {
                  width: 100%;
                  padding: 2rem;
                  & .box {
                     height: 200px;
                     margin: auto;
                     display: flex;
                     width: 100%;
                     & figure {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        width: 200px;
                        justify-content: center;
                        align-items: center;
                        & img {
                           padding: 0.5rem;
                           width: 128px;
                        }
                        & figcaption {
                           text-align: center;
                           font-size: var(--fs-base);
                           padding-bottom: 20px;
                        }
                     }
                     & p {
                        align-self: flex-start;
                        padding: 0.5rem;
                        font-size: var(--fs-sm);
                        white-space: normal;
                        overflow-wrap: break-word;
                        word-break: break-word;
                     }
                  }
               }
            }
         }
      }

      & div[class='desktop-only'] {
         position: relative;
         grid-column: 2/10;
         width: 100%;
         height: 1000px;
         & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
         }
      }
   }
}
