#about {
   --padding-page: 2rem 4rem;
   --inline-padding-page: 2rem;

   padding-block: var(--padding-page);
   box-shadow: var(--box-shadow-default);
   padding-inline: var(--inline-padding-page);

   & h2 {
      font-size: var(--fs-base);
      text-align: center;
   }

   & #about-desc {
      font: var(--fw-bold) var(--fs-sm) "Archivo";
   }

   & #cards {
      & .box {
         display: grid;
         align-items: center;
         justify-items: center;
         & img[class="mobile-only"] {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-radius: 10px 10px 0px 0px;
         }
         & ul {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            height: 100%;
            align-items: center;
            & li {
               width: 100%;
               padding: 2rem;
               & .box {
                  margin: auto;
                  display: flex;
                  width: 60vw;
                  height: 120px;
                  & figure {
                     background-color: var(--brand-color);
                     border-radius: 8px 0px 0px 8px;
                     display: flex;
                     flex-direction: column;
                     width: 100px;
                     height: 100%;
                     justify-content: center;
                     align-items: center;
                     border: solid var(--brand-color);
                     & img {
                        padding: 0.5rem;
                        width: 64px;
                     }
                     & figcaption {
                        color: #ffffff;
                        font-weight: 800;
                        text-align: center;
                        padding-bottom: 20px;
                        font-size: 0.75rem;
                     }
                  }
                  & p {
                     align-self: center;
                     padding: 0.5rem;
                     font-size: 0.75rem;
                     font-weight: var(--fw-sm);
                     width: 80%;
                     max-width: 80%;
                     white-space: normal;
                     overflow-wrap: break-word;
                     word-break: break-word;
                  }
               }
            }
         }
      }
      & a[href="#sustainability"] {
         display: grid;
         justify-self: center;
         align-items: center;
         margin-top: 5rem;
         margin-inline: auto;
         & img {
            position: relative;
            right: -5px;
         }
         & p {
            position: relative;
            right: 10px;
         }

         @media (width >= 80em) {
            & img {
               top: 1px;
               right: 8px;
            }
         }
      }
   }
}

@media (width >= 80em) {
   #about {
      --padding-page: 0rem 0rem;
      --inline-padding-page: 0rem;
      grid-template-columns: 0.93fr 1fr;

      & #microverdes-img {
         width: 100%;
         position: relative;
         grid-column: 1/2;
         & img {
            max-width: 100%;
            height: 100%;
            aspect-ratio: 16/9;
            object-fit: fit;
         }
      }

      & #cards {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-items: center;
         width: 100%;
         height: 100%;
         grid-column: 2/4;
         & h2 {
            padding-block: 2rem;
            text-align: center;
            width: 580px;
            height: 43px;
            font-size: var(--fs-md);
         }

         & #about-desc {
            width: 580px;
            font: var(--fw-bold) var(--fs-base) "Archivo";
         }

         & .box {
            width: 632px;
            & ul {
               display: flex;
               flex-direction: column;
               width: 100%;
               height: 100%;
               align-items: center;
               & li {
                  width: 100%;
                  padding: 2rem;
                  & .box {
                     height: 150px;
                     margin: auto;
                     display: flex;
                     width: 100%;
                     & figure {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        width: 200px;
                        justify-content: center;
                        align-items: center;
                        padding-block: 20px;
                        & img {
                           object-fit: contain;
                           padding: 1rem;
                           width: 128px;
                           height: 128px;
                        }
                        & figcaption {
                           text-align: center;
                           font-size: var(--fs-base);
                        }
                     }
                     & p {
                        padding: 1rem;
                        font-size: var(--fs-sm);
                        white-space: normal;
                        overflow-wrap: break-word;
                        word-break: break-word;
                     }
                  }
               }
            }
         }
         & a[href="#sustainability"] {
            padding-inline: 4rem;
            margin-bottom: 8rem;
            & img {
               left: 2px
            }
            & p {
               right: 22px;
            }
         }
      }
   }
}
