.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--brand-color-secondary);
   border-radius: 0.5rem;
   border: 0.1px solid black 20%;
   color: white;
   box-shadow: var(--box-shadow-default);
   font: var(--fw-bold) var(--fs-base) 'Archivo';
   text-align: center;
}

.btn-wt {
   background-color: var(--surfface-color);
   color: black;
   transition-duration: .6s;
   &:hover {
      background-color: var(--brand-color-light);
   }
}

.btn-sm {
   width: 6.8125rem;
   height: 3.5625rem;
}

.btn-md {
   width: 8.8125rem;
   height: 4.5625rem;
}

@media (width >= 80em) {
   .btn {
      & img {
         margin-left: 0.5rem;
      }
      & p {
         margin-left: -1rem;
      }
   }

   .btn-md {
      width: 13.4375rem;
      height: 4.5625rem;
   }
}
