#main-section {
   box-shadow: var(--box-shadow-default);
   & #left-part {
      overflow-x: hidden;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-inline: 2rem;
      padding-top: 2rem;
      & #logo-img {
         width: 159px;
         height: 128px;
      }
      & h1 {
         padding-top: 6rem;
         font-size: var(--fs-md);
         text-align: center;
         & span {
            color: var(--brand-color-secondary);
         }
      }

      & #buttons {
         display: flex;
         gap: 2rem;
         padding-top: 10rem;
         padding-bottom: 7rem;

         & a {
            width: 300px;

            & div {
               width: 100%;
            }
         }
      }

      & a[href="#about"] {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 50px;
         position: relative;
         top: 150px;
         
         z-index: 2;
         & div {
            display: flex;
            justify-content: center;
            align-items: center;

            & img {
               width: 50px;
            }
         }
      }

      & #inner-box {
         display: flex;
         position: relative;
         overflow: hidden;
         width: 200%;
         height: 300px;
         justify-content: center;
         align-items: center;
         margin: 0;
         
         & #round-image {
            z-index: 1;
            position: absolute;
            background-color: aquamarine;
            top: 0;
            border-radius: 50%;
            width: 100%;
            height: 800px;
            bottom: 0;
         }
      }
   }
   & #right-part {
      display: none;
   }
}

@media (width >= 80em) {
   #main-section {
      grid-template-columns: .93fr 1fr;

      & #left-part {
         grid-column: 1 / 2;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding-inline: 2rem;
         padding-block: 2rem .8125rem;
         box-shadow: var(--box-shadow-default);
         & #logo-img {
            width: 159px;
            height: 128px;
         }
         & h1 {
            padding-top: 7rem;
            font-size: var(--fs-md);
            text-align: center;
            & span {
               color: var(--brand-color-secondary);
            }
         }

         & #buttons {
            display: flex;
            gap: 2rem;
            padding-top: 14vh;
            padding-bottom: 15vh;

            & a{
               width: 500px;
            }
         }

         & a[href="#about"] {
            padding-right: .4rem;
            margin-bottom: 1rem;
         }
      }
   }
}
