#main-section {
   padding-inline: 2rem;
   padding-block: 2rem 19rem;
   box-shadow: var(--box-shadow-default);
   #logo-img {
         width: 159px;
         height: 128px;
      }

   & div:nth-child(2) {
      flex-direction: column;
      align-items: center;

      & h1 {
         text-align: center;
         font-size: var(--fs-md);
         & span {
            color: var(--brand-color-secondary);
         }
      }

      & img {
         width: 232px;
      }
   }

   & #buttons {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding-top: 10rem;
   }
   
}

@media (width >= 80em) {
   #main-section {
      padding-block: 0 16.9rem;
      
      #logo-img {
         width: 200px;
         height: 160px;
      }
      #box-plant {
         width: 238px;
         padding-top: 1rem;
      }

      & div:nth-child(2) {
         flex-direction: column;
         align-items: center;

         & h1 {
            padding-top: 2rem;
            text-align: center;
            font-size: var(--fs-lg);
         }

         & h2 {
            padding-bottom: 2rem;
         }

      }
      & #buttons {
         padding-top: 4rem;
      }
   }
}
