.container {
   --max-width: 375px;
   width: min(var(--max-width), 100% - var(--px-lg) * 2);
   margin-inline: auto;
}

.flex {
   display: flex;
}
/*  */
.grid {
   display: grid;
}
.grid-flow-columns {
   grid-auto-flow: column;
}
.even-columns {
   grid-auto-columns: auto;
}

.center-items {
   justify-content: center;
}

.pad-32 {
   padding: 2rem;
}

.pad-16 {
   padding: 1rem;
}

.px-lg {
   padding-inline: 2rem;
}

.px-xl {
   padding-inline: 4rem;
}
.px-xxl {
   padding-inline: 7.8125rem;
}

.py-sm {
   padding: 0.5rem;
}

.py-md {
   padding-block: 2rem;
}
.py-xl {
   padding: 4rem;
}
.py-xxl {
   padding-block: 7.8125rem;
}

.desktop-only {
   display: none;
}

.mobile-only {
   display: block;
}

.sub-label {
   color: var(--brand-color);
   font-size: 2rem;
}

.gap-32 {
   gap: 2rem;
}

.box {
   background-color: #ffffff;
   box-shadow: var(--box-shadow-default);
   border-radius: 0.5rem;
}

@media (width >= 80em) {
   .container {
      --max-width: 80rem;
   }

   .desktop-only {
      display: block;
   }

   .mobile-only {
      display: none;
   }
}
